* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: roboto, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  min-height: 200px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 120px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.button {
  justify-self: start;
  align-self: start;
  background-color: #388af6;
  color: white;
  padding: 5px 20px;
  border-radius: 7px;
  font-size: 16px;
}
.awesome {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
.links,
.para {
  font-size: 18px;
  color: #e5e7eb;
}
.image-placeholder {
  height: 300px;
  width: 600px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.links {
  display: flex;
  gap: 20px;
}
.first .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.information {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 120px;
  padding-top: 100px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 50px;
  justify-content: center;
}

.block {
  border: 4px solid #388af6;
  border-radius: 10px;
  color: #1f2937;
  width: 180px;
  height: 180px;
}
.random {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  flex-basis: 100%;
  text-align: center;
  padding-top: 100px;
}
.block-container .par {
  text-align: center;
}
.block-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  flex: 0 0 180px;
  max-width: 180px;
}
.par {
  color: #2e3642;
}
.next {
  background-color: #e5e7eb;
  min-height: 200px;
  padding: 150px 250px 150px 250px;
  display: flex;
  flex-direction: column;
}
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}
.thor {
  font-weight: bold;
  display: flex;
  align-self: flex-end;
  padding-top: 30px;
  font-size: 18px;
}
.last {
  background-color: #388af6;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 150px 300px;
  border: none;
  border-radius: 10px;
  gap: 50px;
}
.last-button,
.button-two {
  color: white;
  font-size: 16px;
  background-color: #388af6;
  border: none;
  padding: 8px 20px;
  border-radius: 7px;
  outline: none;
}
.call {
  display: flex;
  flex-direction: column;
}
.parag {
  font-size: 18px;
  font-weight: bold;
}
.last-button {
  border: 2px solid white;
  padding: 2px 10px;
}
.final-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #1f2937;
  color: white;
  font-size: 16px;
}
